<main class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="d-flex justify-content-center flex-wrap bg-white border shadow-lg rounded-lg px-5 py-5">
        <div class="row" *ngIf="fvideo()">
            <video autoplay id="meuvideo" (pause)="mudou($event)">
                <source [src]="form_adress(video_endereco, inicio, fim)" type='video/mp4'>
            </video>
        </div>
        
        <div style="width: 100%; text-align: center;" *ngIf="!fvideo()">
            O assunto apresentado no video é do seu interesse?<br>
        </div>
        <div class="row" *ngIf="!fvideo()" style="margin-top: 7%;" >

            <button type="button" (click)="grava('S')" class="btn btn-success" style="margin-right: 20px;">Sim</button>

            <button type="button" (click)="grava('N')" class="btn btn-danger" style="margin-left: 20px;">Não</button>
        </div> 
    </div>
</main>