<div *ngIf="!v_iniciar" class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="d-flex justify-content-center flex-wrap bg-white border shadow-lg rounded-lg px-5 py-5">
        <div style="width: 100%; text-align: center;">
            <b>Infelizmente, você não poderá pausar os videos ou assistí-los novamente.</b> Portanto, inicie apenas quando estiver tudo pronto.
        </div>
        <div style="width: 100%; text-align: center;">
            <br>
        </div>
        <div class="row">
            <button type="button" (click)="iniciar()" class="btn btn-primary">Iniciar Avaliação</button>
        </div> 
    </div>
</div>
<div *ngIf="v_iniciar">
    <app-video [lista]="lista" [nome]="nome" [email]="email"></app-video>
</div>

