<div style="text-align: center; width: 100%;">
    Olá, muito obrigado por nos ajudar neste projeto! O objetivo é criar perfis de usuários com base na atividade a seguir.<br>
    Serão apresentados a você <b>5 trechos de noticiários nacionais</b> de, no máximo, 1 minuto e 20 segundos de duração cada.<br> Cada trecho trata de um assunto diferente.<br>
    Você deverá informar, ao final de cada video, se o conteúdo do mesmo é do seu interesse ou não.<br>
    Para começarmos, precisamos que faça login em sua conta google. <b>Não se preocupe:</b> as informações serão anonimizadas assim que formos processá-las.
</div>
<button class="btn btn-success btn-block" (click)="signInWithGoogle()" style="margin-top: 5%;">Log in with Google</button>
